<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
</head>
<body>
    <h1>Tableau de bord</h1>
    <main>
        <h2>Utilisateur</h2>
        <section>
            <% const msg = typeof message !== 'undefined' ? message : '' %>
            <% if (msg) {  %>
                <p> <%= msg %> </p>
            <% } %>
        </section>
        <section>
            <ul>
                <li> <a href="/users/user/add">Créer un utilisateur</a> </li>
                <li> <a href="/dashboard/user/edit"> Modifier l'utilisateur avec l'identifiant </a></li>
                <li> <a href="/dashboard/user/delete"> Supprimer l'utilisateur avec l'identifiant </a></li>
            </ul>
            <h2>Catway</h2>
            <ul>
                <li> <a href="/catways/add">Créer un catway</a> </li>
                <li> <a href="/dashboard/catway/edit"> Modifier le catway avec l'identifiant</a></li>
                <li> <a href="/dashboard/catway/delete"> Supprimer le catway avec l'identifiant </a></li>
                <li> <a href="/dashboard/catway/details"> Obtenez les détails du catway avec l'identifiant </a></li>
                <li> <a href="/catways"> Liste des catways </a></li>
            </ul>
            <h2>Réservation</h2>
            <ul>
                <li> <a href="/catways/reservation/add">Créer une réservation</a> </li>
                <li> <a href="/dashboard/reservation/details">Obtenir les détails de la réservation avec l'identifiant</a> </li>
                <li> <a href="/dashboard/reservation/delete">Supprimer la réservation avec l'identifiant</a> </li>
                <li> <a href="/catways/reservations/list"> Liste des réservations </a> </li>
            </ul>
        </section>
    </main>
</body>
</html>